{% extends "loyout/base.html" %}
{% load static %}

{% block main %}
    <div class="container">
        <div class="text-center">
            <h2> Inventario</h2>
        </div>
        <div class="card">
            <div class="card-header text-white text-center" style="background-color: #3d90bf">
                Datos
            </div>
            <div class="card-body">
                <hr>
                {% if vendors %}
                    <table class="table table-bordered table-responsive-sm ">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Existencia</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Esatatus</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vendor in vendors %}
                            {% for product in vendor.products.all %}
                                <tr>
                                    <th scope="row">
                                        {{ product.id }}
                                    </th>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.stock }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>
                                        {% if product.status == "available" %}
                                            Disponible
                                        {% elif product.status == "Deleted" %}
                                            Eliminado
                                        {% elif product.status == "Paused" %}
                                            Suspendido
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4 class="text-center">Sin productos</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
