{% extends "layouts/base.html" %}
{% load static %}
{% block main %}
    <div class="container">
        <div class="card">
            <div class="card-header text-white text-center" style="background-color: #3d90bf">
                Datos de Ventas
            </div>
            <div class="card-body">
                {% if sales %}
                    <table class="table table-bordered table-responsive-sm">
                        <thead>
                        <tr>
                            <th scope="col">Nota</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Venta</th>
                            <th scope="col">Nota</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sale in sales %}
                            <tr>
                                <th scope="row">
                                    <a href="#" class="link"
                                       onclick="">{{ sale.id }}
                                    </a>
                                </th>
                                <td>{{ sale.client_id }}</td>
                                <td><a type="button" class="btn btn-info" href="{{ sale.pdf }}">Ver Nota</a></td>
                                <td><a type="button"
                                       class="btn btn-info"
                                       id="send-note-button"
                                       data-pdf="{{ sale.pdf }}"
                                       data-client="{{ sale.client_id }}">Enviar Nota</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4 class="text-center">No existen ventas</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}" defer></script>
{% endblock %}
