{% load static %}
<div style="text-align: center">
    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pl-2 increase-total-1">+1</button>

    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pl-2 increase-total-6">+6</button>

    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pl-2 increase-total-12">+12</button>


{#    <input type="text" name="cantidad" class="form-control pr-2 pl-2" value="0">#}
    <label class="form-control pr-2 pl-2 quantity">0 Uds</label>

    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pr-2 decrease-total-1">-1</button>

    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pr-2 decrease-total-6">-6</button>

    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pr-2 decrease-total-12">-12</button>
</div>
