{% load static %}
<div class="d-flex flex-nowrap p-0">
    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pl-2 increase-total">+</button>

{#    <input type="text" name="cantidad" class="form-control pr-2 pl-2" value="0">#}
    <label class="form-control pr-2 pl-2" id="quantity">Holisss</label>

    <button data-id="{{ product.id }}"
            data-price="{{ product.price }}"
            data-name="{{ product.name }}"
            class="btn btn-dark pr-2 decrease-total">-</button>
</div>
