

{% extends "admin_panel/layout/base_admin.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <style>



    @media (min-width:300px)  {
/* smartphones */
    .img-p{
        height: 5rem; width: 5rem;
    }
}

@media (min-width:1025px) {
/*laptops, and desktops*/
    .img-p{
        height: 10rem; width: 10rem;
    }
}
    </style>
        <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Productos
            </h1>
        </div>
    </div>
    <div class="text-right">
        <a type="button" class="btn btn-success" href="{% url 'panel:view-create-product' %}">Nuevo</a>
    </div>
    <div class="table-responsive">
    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <th scope="row"><img class="img-p" src="{{ product.image.url }}"></th>
      <td><a href="{% url 'panel:view-update-product' product.id %}">{{ product.name }}</a></td>
      <td>{{ product.price }}</td>
      <td><a type="button" class="btn btn-danger"  onclick="modal_delete('{% url 'panel:view-delete-product' product.id %}')"><i class="fa fa-trash" aria-hidden="true"></i>
</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div class="modal fade" id="delete_product" role="dialog"></div>
<script>
    function modal_delete(url) {
        $('#delete_product').load(url, function () {
            $(this).modal('show');
        });
    }
    </script>
{% endblock %}
