<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="{% url 'panel:view-admin-panel' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="{% url 'panel:view-list-provider' %}"><i class="fa fa-fw fa-users"></i> Proveedores</a>
        </li>
        <li>
            <a href="{% url 'panel:view-list-vendors' %}"><i class="fa fa-fw fa-users"></i> Vendedores</a>
        </li>
        <li>
            <a href="{% url 'panel:view-list-client' %}"><i class="fa fa-fw fa-users"></i> Clientes </a>
        </li>
        <li>
            <a href="{% url 'panel:view-list-expenses' %}"><i class="fa fa-money" aria-hidden="true"></i> Gastos</a>
        </li>
        <li>
            <a href="{% url 'panel:view-list-product-size' %}"><i class="fa fa-fw fa-users"></i> Tallas</a>
        </li>
        <li>
            <a href="{% url 'panel:view-list-category' %}"><i class="fa fa-fw fa-users"></i> Categorias </a>
        </li>

        <li>
            <a href="{% url 'panel:view-list-product' %}"><i class="fa fa-fw fa-users"></i> Productos </a>
        </li>
        <li>
            <a href="{% url 'panel:view-sells' %}"><i class="fa fa-fw fa-shopping-bag"></i> Ventas</a>
        </li>
    </ul>
</div>
